.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.Non-active {
  display: none;
}

.Disabled-input:disabled {
  background-color: transparent;
  color: black;
}

.Tasks-active {
  left: 0;
  top: 50px;
  height: 88vh;
  width: 350px;
}
